<h2>Here's the character!</h2>

<ul>
  <li><%= @game.character %></li>
  <li><%= @game.house %></li>
  <li><%= @game.city %></li>
</ul>

<%= link_to 'Delete Character', "/games/#{@game.id}", method: 'delete' %>
